body {
    font-family: Arial, sans-serif;
    margin-top: 0;
}

.mv-status span {
    display: none;
}

#dance-table {
    margin: 0 0 20px 0;
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    gap: 10px; 
}

.hide-if-true {
    display: none;
}

:root {
    --player-height: 120;
    --player-width: 400;
}

[mv-app] {
    display: flex;
    height: 98vh;
    flex-direction: column;
}

#heading {
    top: 0;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    background-clip: border-box;
    z-index: 2;
}

#heading .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#player {
    padding: 10px;
}

.mv-item-bar.custom:where(.mv-ui) {
    position: static;
    float: right;
    vertical-align: baseline;
    margin: 0;
}

#no-player {
    height: calc(var(--player-height)*1px);
}

.header {
    font-weight: bold;
    background-color: #f0f0f0;
    position: sticky;
    box-sizing: border-box;
    top: 0;
}

[mv-list="song"] {
    display: grid;
    grid-column: 2/5;
    grid-template-columns: subgrid;
}

[mv-mode="edit"] .play-button {
    display: none;
}

.play-button {
    cursor: pointer;
}

[property="music"] {
    cursor: text;
}

button.quiet-button {
    background: none;
    border: none;
    cursor: pointer
}

[mv-app]:not([mv-mode="edit"]) .on-edit {
    display: none;
}

:where([mv-app]) .icon.mv-empty:where(:not([mv-mode="edit"]):not(td):not(th)) {
    visibility: hidden;
    display: initial;
}

.rating {
    display: flex;
    justify-content: space-around;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
}

.rating input:checked~label {
    color: gold;
}

.dance-list {
    display: contents;
}

.dance-entry {
    display: contents;
}

.rating input[type="radio"] {
    display: none;
}

.empty-true {
    opacity: 0.3
}

.icon {
    text-decoration: none;
}

.rating label {
    font-size: 24px;
    color: gray;
    cursor: pointer;
}

.rating input[type="radio"]:checked~label {
    color: lightgray;
}

.rating input[type="radio"]:checked+label {
    color: black;
}

.rating input[type="radio"]:checked+label~label {
    color: gray;
}

.rating,
.learned {
    display: none;
}

[mv-list="song"] {
    display: grid;
    grid-column: 2/5;
    grid-template-columns: subgrid;
}

.song-list {
    display: contents;
}

.mv-drag-handle {
    display: none;
}

[mv-mode="edit"] .mv-drag-handle {
    display: inline;
}